<%= erb :"Shared/header" %>

<h1>All bookmarks</h1>
<hr />
<% if @bookmarks.length > 0 then %>
<div class="container">
    <table>
        <tr>
            <th>Count</th>
            <th>Title</th>
            <th>Description</th>
            <th>View</th>
        </tr>
        <% for i in (0..(@bookmarks.length - 1)) %>
            <tr>
                <td><%= (i + 1) %></td>
                <td><%= @bookmarks[i].title %></td>
                <td><%= @bookmarks[i].description %></td>
                <td class="btn-col"><a href="/bookmarks/view/<%= @bookmarks[i].bookmarkId %>">goto</a></td>
            </tr>
        <% end %>
    </table>
</div>
<% else %>

    <p class="error-message">No bookmarks exist.</p>

<% end %>

<%= erb :"Shared/footer" %>
