<%= erb :"Shared/header" %>

<h1>Report Bookmark</h1>

<p>Please enter the issue with the bookmark titled "<%= @bookmark.title %>":</p>

<hr/>

<div class="comment">
    
<p class="error-message"><%= @blankError %></p>
    
<form method="post" name="report-form" action="/bookmarks/report/<%= params[:bookmarkId] %>">
    <p>Select the relevant areas of issue</p>
    <input type="radio" name="report_option" value="title" id="title">
    <label for="title">Title</label>
    <input type="radio" name="report_option" value="description" id="description">
    <label for="description">Description</label>
    <input type="radio" name="report_option" value="resource" id="resource">
    <label for="resource">Resource</label>
    <input type="radio" name="report_option" value="tags" id="tags">
    <label for="tags">Tags</label>
    
    <a class="btn" id="toggle-dropdown">Other</a>
    
    <br>

    <div class="new-tags-container">

            <label for="tag">Describe the issue</label><br>
            <input type="text" name="issue">

    </div>
    
    <br>    
    <p>Please give a short description of why this is an issue</p>
    <textarea name="reason" rows="5"></textarea>
    <br>
    <input type="submit" value="Report" onclick="submitForms">
    <p class="error-message"><%= @reportError %></p>
    <p class="success-message"><%= @reportSuccess %></p>
    </form>


    

    
    <br>

</div>
    


<%= erb :"Shared/footer" %>
        
<script>
    var elem = document.getElementById('toggle-dropdown');

    elem.onclick = function () {
        
        var dropElem = document.querySelector('.new-tags-container');

        dropElem.classList.toggle('active');
    };

</script>