<%= erb :"Shared/header" %>

<div class="row">
    <div class="col three-quart">
        <h1>
            <%= @bookmark.title %>
        </h1>

        <hr />

        <h4>
            Description <span class="right-align sub-font"><%= @bookmark.description %></span>
        </h4>

        <h4>
            Resource <span class="right-align sub-font"><%= @bookmark.resource %></span>
        </h4>
        <h3>
            Tags
        </h3>
        <hr />
        <div class="tags-container">
            <div class="chip">
                Test
                <a class="right-align">&#10006;</a>
            </div>
            <div class="chip">
                Test Two
                <a class="right-align">&#10006;</a>
            </div>
            <div class="chip new">
                <a>New tag</a>
            </div>
        </div>
        <br/>
        <h3>Comments</h3>
        <hr />
        <form method="post" action="/comments/create">
            <input type="text" name="bookmarkId" value="<%= @bookmark.bookmarkId %>" hidden>
            <textarea name="comment" rows="5"></textarea>
            <br>
            <input type="submit" value="Comment">
        </form>
        
        <%
            if @comments.length > 0 then
                for comment in @comments 
        %>
            <div class="comment">
                <p><%= comment.content %></p>
                <hr />
                <div align="right">
                    <a class="btn report">Delete</a>
                </div>
            </div>
        <%
                end
            else
        %>
            <p>No comments yet.</p>
        <%
            end
        %>

    </div>
    <div class="col quart side-nav">
        <h5>
            Information
        </h5>
        <p>Author <span class="right-align"><%= @user.username %></span></p>
        <p>Date <span class="right-align"><%= @bookmark.createdAt %></span></p>

        <br>
        <ul>
            <li><a class="btn favourite">Favourite</a></li>
            <li><a class="btn report">Report</a></li>
            <li><a class="btn edit">Edit</a></li>
        </ul>
    </div>
</div>

<%= erb :"Shared/footer" %>