<%= erb :"Shared/header" %>

<div class="row">
    <div class="col three-quart">
        <h1>
            <%= @bookmark.title %>
        </h1>

        <hr />

        <h4>
            Description <span class="right-align sub-font"><%= @bookmark.description %></span>
        </h4>

        <h4>
            Resource <span class="right-align sub-font"><a href="<%= @bookmark.resource %>"><%= @bookmark.resource %></a></span>
        </h4>
        <h3>
            Tags
        </h3>
        <hr />
        <div class="tags-container">
            <%
                if @tags.length > 0 then
                    for tag in @tags 
            %>
                <div class="chip">
                    <%= tag.tag %>
                    <a class="right-align" href="/tags/delete/<%= tag.tagId %>/<%= @bookmark.bookmarkId %>">&#10006;</a>
                </div>
            <%
                    end
                else
            %>
                <div class="chip">
                    No tags yet
                </div>
            <%
                end
            %>
            <%
                if @loggedIn then
            %>
            <div class="chip new right-align">
                <a id="toggle-dropdown">New tag</a>
            </div>
            <%
                end
            %>
        </div>
        
        <div class="new-tags-container">
            <hr />
            <form method="post" action="/tags/add">
                <label for="tag">New tag</label><br>
                <input type="text" name="tag">
                <input type="text" name="bookmarkId" value="<%= @bookmark.bookmarkId %>" hidden>
                <input type="submit" value="Add">
            </form>
        </div>
        <br>
        <h3>Comments</h3>
        <hr />
        <%
            if @loggedIn then
        %>
        
        <form method="post" action="/comments/create">
            <input type="text" name="bookmarkId" value="<%= @bookmark.bookmarkId %>" hidden>
            <textarea name="comment" rows="5"></textarea>
            <br>
            <input type="submit" value="Comment">
        </form>
        
        <%
            end
        %>
        
        <%
            if @comments.length > 0 then
                for comment in @comments 
        %>
            <div class="comment">
                <p><%= comment.content %></p>
                <hr />
                <div align="right">
                    <a class="btn report">Delete</a>
                </div>
            </div>
        <%
                end
            else
        %>
            <p>No comments yet.</p>
        <%
            end
        %>

    </div>
    <div class="col quart side-nav">
        <h5>
            Information
        </h5>
        <p>Author <span class="right-align"><%= @user.username %></span></p>
        <p>Date <span class="right-align"><%= @bookmark.createdAt %></span></p>

        <br>
        <ul>
            <%
            if @loggedIn then
            %>
                <% if @isFavourite %>
                    <li><a href="/favourites/remove/<%= @bookmark.bookmarkId %>" class="btn favourited">Unfavourite</a></li>
                <% else %>
                    <li><a href="/favourites/add/<%= @bookmark.bookmarkId %>" class="btn favourite">Favourite</a></li>
                <% end %>

            <li><a href="/bookmarks/report/<%= @bookmark.bookmarkId %>"class="btn report">Report</a></li>
            <li><a href="/bookmarks/edit/<%= @bookmark.bookmarkId %>" class="btn edit">Edit</a></li>
            <%
            else
            %>
            <li><a class="btn favourite disabled">Favourite</a></li>
            <li><a class="btn report disabled">Report</a></li>
            <li><a class="btn edit disabled">Edit</a></li>
            <%
            end
            %>
        </ul>
    </div>
</div>



<%= erb :"Shared/footer" %>

<script>
    var elem = document.getElementById('toggle-dropdown');

    elem.onclick = function () {
        
        var dropElem = document.querySelector('.new-tags-container');

        dropElem.classList.toggle('active');
    };
</script>

