<%= erb :"Shared/header" %>

<div class="row">
    <div class="col three-quart">
        <h1>
            <%= @bookmark.title %>
        </h1>

        <hr />

        <h4>
            Description <span class="right-align sub-font"><%= @bookmark.description %></span>
        </h4>

        <h4>
            Resource <span class="right-align sub-font"><%= @bookmark.resource %></span>
        </h4>
        <br/>
        <h3>Comments</h3>
        <hr />
        <form action="" method="">
            <textarea name="comment" rows="5"></textarea>
            <br>
            <input type="submit" value="Comment" class="right-align">
        </form>

    </div>
    <div class="col quart side-nav">
        <h5>
            Information
        </h5>
        <p>Author <span class="right-align"><%= @user.username %></span></p>
        <p>Date <span class="right-align"><%= @bookmark.createdAt %></span></p>

        <br>
        <ul>
            <li><a class="btn edit">Edit</a></li>
            <li><a class="btn favourite">Favourite</a></li>
            <li><a class="btn report">Report</a></li>
        </ul>
    </div>
</div>

<%= erb :"Shared/footer" %>