
<%= erb :"Shared/header" %>

<h1>User account control</h1>
<hr/>
<div class="container">
    <table>
        <tr>
            <th>Count</th>
            <th>Username</th>
            <th>Admin</th>
            <th>Disabled</th>
            <th>Admin</th>
            <th>Delete</th>
        </tr>
        <% for i in (0..(@users.length - 1)) %>
            <tr>
                <td><%= (i + 1) %></td>
                <td><%= @users[i].username %></td>
                <td><%= @users[i].admin %></td>
                <td><%= @users[i].deleted %></td>
                <td class="btn-col form">
                    <form method="post" action="/admin/userDisable/approve">
                        <input type="hidden" name="userId" value="<%= @users[i].userId %>">
                        <input type="submit" value="toggle">
                    </form>
                </td>
                <td class="btn-col form">
                   <form method="post" action="/admin/userDisable/delete">
                    <input type="hidden" name="userId" value="<%= @users[i].userId %>">
                    <input type="submit" value="toggle">
                </form>
                </td>
            </tr>
        <% end %>
    </table>
</div>

<%= erb :"Shared/footer" %>
