<%= erb :"Shared/header" %>

<h1>For approving new accounts</h1>
<hr/>

        <% if @display_users.length > 0 then %>
        <div class="container">
            <table>
                <tr>
                    <th>UserId</th>
                    <th>Username</th>
                    <th>View</th>
                </tr>
                <% for i in (0..(@display_users.length - 1)) %>
                    <tr>
                        
                        <td><%= @display_users[i].userId %></td>
                        <td><%= @display_users[i].username %></td>
                        <td class="btn-col"><a href="/admin/viewAccount/<%= @display_users[i].userId %>">&#10132;</a></td>
                        
                    </tr>
                <% end %>
            </table>
        </div>
        <% else %>

            <p class="error-message">No new accounts to approve.</p>

        <% end %>

<%= erb :"Shared/footer" %>