<%= erb :"Shared/header" %>

<div class="row">
    <div class="col three-quart">
        <h1>
            New signup request
        </h1>
        <hr />
        <h4>
            Username <span class="right-align sub-font"><%= @username %></span>
        </h4>
        <h4>
            Request id <span class="right-align sub-font"><%= @requestId %></span>
        </h4>
        <h4>
            Time <span class="right-align sub-font"><%= Time.parse(@time).strftime('%F %T') %></span>
        </h4>
        
        
    </div>
    <div class="col quart">
        <h3>Reason</h3>
        <hr>
        <p><%= @reason %></p>
        <br>
        <a href="/admin/approveAccount/<%= @userId %>" class="btn accept">Accept</a>
        <a href="/admin/declineAccount/<%= @userId %>" class="btn report">Decline</a>
    </div>

</div>

<%= erb :"Shared/footer" %>